<html>
    <head>
        <meta charset="utf-8" content="text/html">
<!--       <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}"> -->
        <title>Whistlelock skeleton</title>
    </head>
    <body>

    <script type="text/javascript" src="../static/js/transmit.js"></script>
    <script src="../static/js/Recorderjs/dist/recorder.js"></script>
    <center><h1>Whistlelock skeleton</h1></center>
    <button type="button" onclick="startRecording(this);">Rec</button>
    <button type="button" onclick="stopRecording(this)" disabled>Stop</button>
    Username: <input type="text" id="username">
    <p> The similarity between the two samples is {{ data }} </p>
    </body>
</html>
